<!--Place left panel content html here-->

<div id='fdw-controls'>
  {% assign _ = site.data.app.content %}
  <h3>{{_.fdw.head}}</h3>
  <p>{{_.fdw.desc}}</p>
  {% for r in _.fdw.inputs %}
  <input type='{{r.type}}' id='{{r.id}}' name='{{r.group}}'></input>
  <label for='{{r.id}}' {% if r.desc %}class='block-label'{% endif %}>
    <h4>{{r.head}}</h4>
    {% if r.desc %}
    <p>{{r.desc}}</p>
    {% endif %}
    {% if r.legend %}
    <div class='show-when-checked'>
      <p>{{r.legend.desc}}</p>
      {{r.legend.low}} 
      <img src='{{r.legend.src}}' /> 
      {{r.legend.high}}
    </div>
    {% endif %}
  </label>
  {% if r.id == 'fdw-r2' %}
  <hr />
  <h4>Additional layers</h4>
  {% endif %}
  {% endfor %}
</div>
<div id='fhp-controls'>
  <h3>{{_.fhp.head}}</h3>
  <p>{{_.fhp.desc}}</p>
  {% for r in _.fhp.inputs %}
  <input type='{{r.type}}' id='{{r.id}}' name='{{r.group}}'></input>
  <label for='{{r.id}}' {% if r.desc %}class='block-label'{% endif %}>
    <h4>{{r.head}}</h4>
    {% if r.desc %}
    <p>{{r.desc}}</p>
    {% endif %}
    {% if r.legend %}
    <div class='show-when-checked'>
      <p>{{r.legend.desc}}</p>
      {{r.legend.low}} 
      <img src='{{r.legend.src}}' /> 
      {{r.legend.high}}
    </div>
    {% endif %}
  </label>
  {% if r.id == 'fhp-c1' %}
  <hr />
  <h4>Additional layers</h4>
  {% endif %}
  {% endfor %}
</div>
<!--End left panel content html-->
